

.form-box {
  margin-top:200px;
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 50px;
  box-shadow: 0 0 10px #ccc;
}

label {
  display: block;
  margin-top: 2rem;
}

input, select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 1.5rem;
  padding: 0.7rem;
  width: 100%;
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.user-info {
    float: right;
    padding: 10px;
    font-size: 14px;
}
